*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Caprasimo', cursive;
    background-color: #F3C237;
}

header{
    background-color: #FF5733;
    padding: 1em;
    text-shadow: 6px 5px 0 #F8F0E3, 12px 10px 0 #F3C237, 18px 15px 0 #692602;
    display: flex;
    justify-content: center;
    font-size: 3em;
    border-bottom: 2px solid #692602;
    outline: 2px solid #F3C237;
}

.container, .results{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    gap: 1em;
}

.results{
    font-size: 3.5em;
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Caprasimo', cursive;
    margin: 1em;
    padding: .25em;
    font-size: 2em;
    border: 2px solid #692602;
    border-radius: .25em;
    color: #692602;
}

button:hover{
    border: 2px solid #F8F0E3;
    outline: 2px solid #692602;
    background-color: #FF5733;
    color: #F8F0E3;
}